/* FEATURED MOVIES */
.list-featured-movies{
    margin: 0;
}

.featured-movies li{
    width: 100%;
    min-height: 75vh;
    background-color: red;
    background-position: center;
    background-size: cover;
    border: 1px solid #262626;
    list-style-type: none;
    border-radius: 12px;
    display: flex;
    align-content: stretch;
}

.featured-movies li .bg-overlay{
    background: rgb(38,38,38);
    background: linear-gradient(360deg, #141414 0%, #14141400 100%);
    padding: 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.featured-movies h1{
    color: white;
    margin-bottom: 16px;
}

.featured-movies p{
    color: #999999;
    text-align: center;
    max-width: 80%;
}

.featured-movies .action-buttons{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.featured-movies button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    fill: white;
    padding: 14px;
    border-radius: 8px;
}

.featured-movies .button-play{
    gap: 8px;
    background-color: #E50000;
    border: none;
    padding: 14px 24px;
}

.featured-movies .button-add-to-favorites-list{
    background-color: #0F0F0F;
    border: 1px solid #262626;
}

.featured-movies .action-buttons svg{
    width: 16px;
}

/* TOP RATED */
#top-rated h2{
    color: #fff;
}

.list-top-rated{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin-top: 32px;
    margin-left: 0;
}

.list-top-rated li{
    display: flex;
    justify-content: center;
    gap: 0;
}

.card-movie{
    padding: 16px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 10px;
    width: 284px;
}

.card-movie .img-card-movie{
    width: 100%;
    height: 328px;
    background-color: #999;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.card-movie .img-card-movie .position{
    width: 28px;
    height: 28px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E50000;
    color: white;
    border-radius: 8px;
}

.card-movie .content-card-movie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.card-movie .content-card-movie h3{
    line-height: 24px;
    color: white;
    font-size: 20px;
    max-width: 70%;
}

.card-movie .content-card-movie .rated{
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.card-movie .content-card-movie .rated span{
    font-size: 12px;
    color: #999;
}